@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
/* base css start */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.menu-list-item a {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.menu-list-item a.active {
  color: black;
}

.container {
  background-color: black;
  color: white;
}
/* base css end */

/* navbar start */

.navbar {
  background-color: black;
  height: 60px;
  color: white;
  position: relative;
  top: 0;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 40px;
  padding: 0;
  align-items: center;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item a {
  text-decoration: none;
}

.menu-list-item a:hover {
  font-weight: bold;
  color: gray;
}

.menu-list-item:hover {
  font-weight: bold;
}

.profile-container {
  display: flex;
  padding: 5px;
  align-items: center;
  column-gap: 20px;
  background-color: rgba(56, 55, 55, 0.7);
  border-radius: 30px;
  position: fixed;
  top: 1%;
  right: 0;
  z-index: 5;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1px;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: 0.5s all ease;
}

.toggle-icon {
  color: goldenrod;
}

/* navbar end */

/* sidebar start */
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
}

.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* sidebar end */

/* featured content start */

.content-wrapper {
  margin-left: 50px;
}

.featured-content {
  background: url("../photos/dark-bg.jpg");
  padding: 50px;
  height: calc(100vh - 160px);
  background-size: cover;
}

.featured-content img {
  padding: 0;
}

.featured-description {
  width: 500px;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  margin-top: 40px;
  border-radius: 10px;
  color: black;
}

/* featured content end */

/*----content start----*/

/*about start*/

.about-container {
  margin-left: 70px;
}

.about-title {
  padding-top: 30px;
  margin-left: 70px;
  text-align: center;
  font-size: 40px;
}
.about-text-title {
  color: black;
}

.about-text-container {
  background-color: rgb(255, 255, 255, 0.5);
  padding-left: 50px;
  padding-right: 20px;
  margin: 30px;
  text-align: left;
  column-gap: 5px;
}

.about-container .about-text-container p strong a {
  text-decoration: none;
  color: white;
}

.education-pictures {
  list-style: none;
}

.education-img {
  width: 270px;
  padding-left: 70%;
  padding-top: 0;
}

.education-picture-container {
  background-color: black;
  height: 250;
  object-fit: cover;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-picture {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
  display: inline-flex;
  margin: 30px;
}

/*about end*/

/*education start*/

.education-container {
  margin-left: 50px;
  background: url(../photos/education-bg.jpg);
  background-position: right;
  background-position: bottom;
  background-size: cover;
}

.education-title {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  background-color: black;
}

.edu-wrapper {
  padding: 20px;
}

.schools-box {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  display: flex;
  flex-wrap: wrap;
}
.schools-box article {
  flex: 1;
  padding: 20px;
}
.schools-box article li {
  font-size: 19px;
}

.education-text-schools,
.education-text-software,
.education-text-certificate {
  margin-left: 40px;
}

.school-text-title {
  text-decoration: underline;
}

.date {
  color: rgb(255, 255, 255, 0.7);
}

.certificate-text-title {
  text-decoration: underline;
}

.certificate-list {
  padding-inline-start: 1.5%;
}

.software-text-title {
  text-decoration: underline;
}

.language-list {
  padding-inline-start: 1.5%;
}

.slider-frame {
  overflow: hidden;
  margin-left: 35%;
  width: 30%;
  background-color: rgba(170, 170, 170, 0.5);
}

.documents-item {
  position: relative;
}

.documents-item:hover .documents-item-title {
  opacity: 1;
}

.documents-item:hover .documents-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.documents-text {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

.documents-list {
  list-style: none;
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(0);
  transition: 1s all ease-in-out;
}

.documents-item-img {
  width: 270px;
  height: 200px;
  object-fit: fill;
  transition: 0.5s all ease-in-out;
}

.documents-item-title {
  background-color: rgb(40, 40, 40, 0.5);
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 100px;
  opacity: 0;
  transition: 0.5s all ease-in-out;
  color: white;
}

.document-list-wrapper {
  overflow: hidden;
  position: relative;
  padding: 25px;
}

.arrow {
  color: gray;
  width: 100px;
  display: flex;
  font-size: 120px;
  opacity: 0.5;
  transition: 1.5s;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

.rigth-arrow {
  position: absolute;
  right: 25%;
  top: 100px;
}

/*education end*/
/*content end*/

/* contact start*/
.contact-container {
  margin-left: 50px;
}
.contact-title {
  padding: 30px;
  margin-left: 70px;
  text-align: center;
  font-size: 40px;
}
.contact-wrapper {
  background: url(../photos/contact-bg.jpg);
  background-position:cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-wrapper{
  background-color: rgba(38, 37, 37, 0.5);
  border-radius: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.contact-form-wrapper h3{
  margin-bottom: 12px;
}

.input-box{
  margin-bottom: 5px;
  height: 45px;
  display: flex;
  align-items: center;

}
.contact-container .contact-wrapper .inputBox{
  background-color: rgba(38, 37, 37, 0.5);
  font-size: 30px;
  padding-left: 20px;
}
.contact-wrapper input{
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  height: 27px;
}
.button-wrapper{
  display: flex;
}

.button-wrapper .button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  width: 80px;
  padding: 10px;
  margin-right: 8px;
  border: none;
  border-radius: 5px;
}

.map {
  margin-top: 20px;
  width: 800px; /* İstenilen genişlik */
  height: 400px;
}

/*contact end*/

/*dark mode start*/

.container.active {
  background-color: white;
}

.menu-list-item.active {
  font-weight: bold;
}

.menu-list-item a.active {
  text-decoration: none;
  color: white;
}

.navbar.active {
  background-color: white;
  color: black;
}

.sidebar.active {
  background-color: white;
  color: black;
}

.sidebar i.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.about-container.active {
  color: black;
}

.education-title.active {
  color: black;
  background-color: white;
}

.education-container.active {
  color: white;
  background-color: white;
}

.about-text-container.active {
  background-color: rgba(118, 117, 117, 0.5);
}

.date.active {
  color: rgba(56, 55, 55, 0.7);
}

.education-picture-container.active {
  background-color: rgba(109, 109, 109, 0.5);
  height: 250;
  object-fit: cover;
  position: sticky;
}

.featured-content.active {
  background: url("../photos/light-bg.jpg");
  padding: 50px;
  height: calc(100vh- 160px);
  background-size: cover;
}

/*dark mode end*/

/*responsive start*/
/*@media only screen and (max-width: )*/

/*responsive end*/
