
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
/* base css start */

* {
  margin: 0;
}

body {
  height: 200vh;
  font-family: "Roboto", sans-serif;
}

.container {
  background-color: black;
  color: white;
}
/* base css end */

/* navbar start */

.navbar {
  background-color: black;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 40px;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1px;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: 0.5s all ease;
}

.toggle-icon {
  color: goldenrod;
}
/* navbar end */

/*main content start*/

.intro-wrapper{
  background: url("city-photos/bg.jpg");
  object-fit: cover;
}

.intro-title{
  font-size: 150px;
  font-family: 'Satisfy', cursive;;
  color:whitesmoke;
  text-align: center;
}

.intro-text {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  margin: 30px 0;
  color: black;
  text-align: center;
}

.intro{
  padding-bottom: 300px;
}

.bottom-bar {
  background-color: black;
  height: 70px;
  color: white;
  position: sticky;
  top: 0;
}


/*main content end*/

/*dark mode start*/

.container.active {
  background-color: white;
}
.navbar.active {
  background-color: white;
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

.about-container.active {
  color: black;
}

.education-container.active {
  color: black;
}

.about-text-container.active {
  background-color: rgba(118, 117, 117, 0.5);
}

.date.active {
  color: rgba(56, 55, 55, 0.7);
}

.education-picture-container.active {
  background: url(photos/light-bg.jpg);
  height: 250;
  object-fit: cover;
  position: sticky;
}

.featured-content.active {
  background: url("photos/light-bg.jpg");
  padding: 50px;
  height: calc(100vh-160px);
  background-size: 100% 100%;
}
/*dark mode end*/
