@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* base css start */

* {
  margin: 0;
}

body {
  height: 200vh;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: black;
  color: white;
}
/* base css end */

/* navbar start */

.navbar {
  background-color: black;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 40px;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1px;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: 0.5s all ease;
}

.toggle-icon {
  color: goldenrod;
}
/* navbar end */

/* sidebar start */
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
}

.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* sidebar end */