@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Tilt+Neon&family=Tilt+Warp&display=swap");
/* base css start */

* {
  margin: 0;
}

body {
  height: 200vh;
  font-family: "Lilita One", cursive;
  font-family: "Tilt Neon", cursive;
}

.container {
  background-color: black;
  color: white;
}
/* base css end */

/* navbar start */

.navbar {
  background-color: black;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  display: flex;
}

.menu-list {
  display: flex;
  list-style: none;
  column-gap: 40px;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  line-height: 1px;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: 0.5s all ease;
}

.toggle-icon {
  color: goldenrod;
}
/* navbar end */

/* sidebar start */
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
}

.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* sidebar end */

/* featured content start */

.content-wrapper {
  margin-left: 50px;
}
.featured-content {
  background: url("photos/dark-bg.jpg");
  padding: 50px;
  height: calc(100vh-160px);
  background-size: 100% 100%;
}
.featured-title {
  width: 400px;
}
.featured-description {
  width: 500px;
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
  margin: 30px 0;
  border-radius: 10px;
  color: black;
}

.info-button {
  display: flex;
  column-gap: 10px;
  padding: 10px 25px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(145, 142, 142, 0.5);
}

/* featured content end */

/*----content start----*/

/*about start*/

.about-container {
  margin-left: 70px;
}

.about-title {
  padding-top: 30px;
  margin-left: 70px;
  text-align: center;
}
.about-text-title {
  color: black;
}

.about-text-container {
  background-color: rgb(255, 255, 255, 0.5);
  padding-left: 50px;
  padding-right: 20px;
  margin: 30px;
  text-align: left;
  column-gap: 5px;
  text-size-adjust: 5px;
}
/*about end*/

/*education start*/

.education-pictures {
  list-style: none;
}

.education-img {
  width: 270px;
  padding-left: 70%;
  padding-top: 0;
}

.education-picture-container {
  background: url(photos/dark-bg.jpg);
  height: 250;
  object-fit: cover;
  position: sticky;
}

.education-picture {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
  display: inline-block;
  margin-left: 30px;
}

.education-container {
  margin-left: 70px;
}

.education-title {
  padding-bottom: 30px;
  margin-left: 70px;
  text-align: center;
}

.education-text-schools {
  margin-left: 70px;
}

.school-text-title {
  text-decoration: underline;
}

.date {
  color: rgb(255, 255, 255, 0.7);
}

.education-text-certificate {
  margin-left: 70px;
}

.certificate-text-title {
  text-decoration: underline;
}

.certificate-list {
  padding-inline-start: 1.5%;
}

.slider-frame {
  overflow: hidden;
  /*border: 2px solid;*/
  margin-left: 150px;
  width: 45%;
  background-color: rgba(170, 170, 170, 0.5);
}

.documents-item {
  position: relative;
}

.documents-item:hover .documents-item-title {
  opacity: 1;
}

.documents-item:hover .documents-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.documents-text {
  padding-top: 30px;
}

.documents-list {
  list-style: none;
  /*padding-left: 150px;*/
  height: 300px;
  display: flex;
  align-items: center;
  column-gap: 30px;
  transform: translateX(0);
  transition: 1s all ease-in-out;

}

.documents-item-img {
  width: 270px;
  height: 200px;
  object-fit: fill;
  transition: 0.5s all ease-in-out;
}

.documents-item-title {
  background-color: rgb(40, 40, 40, 0.5);
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 100px;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}

.document-list-wrapper {
  overflow: hidden;
  position: relative;
}

.arrow {
  color: gray;
  width: 100px;
  display: flex;
  font-size: 120px;
  opacity: 0.5;
  transition: 1.5s;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

.rigth-arrow {
  position: absolute;
  right: 25%;
  top: 100px;
}


/*education end*/
/*content end*/

/*dark mode start*/



.container.active{
  background-color: white;
}
.navbar.active{
  background-color: white;
  color: black;
}
.sidebar.active{
  background-color: white;
  color: black;
}

.sidebar i.active{
  color: black;
}

.toggle.active{
  background-color: black;
}

.toggle-ball.active{
  background-color: white;
  transform: translateX(-20px);
}

.about-container.active{
  color: black;
}

.education-container.active{
  color: black;
}

.about-text-container.active{
  background-color: rgba(118, 117, 117, 0.5);
}

.date.active {
  color: rgba(56, 55, 55, 0.7);
}

.education-picture-container.active {
  background: url(photos/light-bg.jpg);
  height: 250;
  object-fit: cover;
  position: sticky;
}

.featured-content.active {
  background: url("photos/light-bg.jpg");
  padding: 50px;
  height: calc(100vh-160px);
  background-size: 100% 100%;
}
/*dark mode end*/
